.key-slide__bubble-8 {
    position: absolute;
    width: 37px;
    top: 66px;
    left: 197.5px;
    animation: bubling8 15s ease-in-out infinite;
    z-index: 4;
}

@keyframes bubling8 {
    0% {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(40px, -20px);
    }
    66% {
        transform: translate(50px, 30px);
    }
    100% {
        transform: translate(0, 0);
    }
}