.popup__button {
    padding: 0;
    margin: 0;
    width: 13px;
    height: 19px;
    background-image: url('../../../images/popupRightButton.svg');
    background-position: center;
    background-size: 13px 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
}