.about-slide__semen-2 {
    position: absolute;
    top: 97.5px;
    width: 730.5px;
    left: 585px;
    animation: slideonforcum 2s;
    animation-delay: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
}