.about-slide__scrollbar-thumb {
    background-color: var(--scrollbar-color);
    z-index: 5;
    width: 20px;
    height: 104px;
    position: absolute;
    cursor: pointer;
    top: -3px;
    left: -7.5px;
    box-shadow: 
        inset 5px 5px 5px var(--shadow-blue-clarity),
        inset -5px -5px 5px var(--shadow-grey-clarity);
    border-radius: 9.75px;
}