.popup__close-button {
    position: absolute;
    top: 32.5px;
    right: 32.5px;
    cursor: pointer;
    background-image: url('../../../images/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
}