.key-slide__bubble-2 {
    position: absolute;
    width: 61.5px;
    bottom: 115.5px;
    left: 242px;
    animation: bubling2 15s ease-in-out infinite;
    z-index: 4;
}

@keyframes bubling2 {
    0% {
        scale: 0.9;
        transform: translate(0, 0);

    }
    33% {
        scale: 1;
        transform: translate(30px, 10px);
    }
    66% {

        scale: 1;
        /* transform: translate(0, 0); */
        transform: translate(30px, 20px);
    }
    100% {

        scale: 0.9;
        transform: translate(0, 0);
    }
}