.about-slide__semen-4 {
    width: 731px;
    position: absolute;
    bottom: 15px;
    left: 890px;
    animation: slideonforcum 2s;
    animation-delay: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 1;
}