.header__home-button {
    padding: 0;
    background-image: url('../../../images/homeButton.svg');
    width: 24px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-size: 24px 21px; 
    background-repeat: no-repeat;
    margin: 1px 23px 0 0;
    cursor: pointer;
}