.popup__container {
    background-color: var(--system-white);
    border-radius: 40px;
    margin: 123.5px auto 0 141px;
    max-width: 822.5px;
    max-height: 573px;
    position: relative;
    padding-top: 39.5px;
    z-index: 2;
}