.about-slide__semen-3 {
    position: absolute;
    width: 414px;
    right: -100px;
    top: 75px;
    animation: slideonforcum 2s;
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
}