.key-slide__button-text {
    font-size: 26px;
    font-weight: var(--font-weight-400);
    line-height: 1.075;
    font-family: var(--font-DINPro);
    margin: 0 0 0 17px;
    letter-spacing: 1.6px;
}
