.popup__advantag-description {
    font-size: 25px;
    line-height: 1.2;
    font-weight: var(--font-weight-400);
    font-family: var(--font-DINPro);
    color: #2e2e2e;
    max-width: 480px;
    margin: 9px 0 18px 0;
}

.popup__advantages li:last-child .popup__advantag-description {
    margin: 10px 0 0 0;
}