.key-slide__bubble-4 {
    position: absolute;
    width: 33px;
    bottom: 281.5px;
    left: 11px;
    animation: bubling4 7s ease-in-out infinite;
    z-index: 6;
}

@keyframes bubling4 {
    0% {
        scale: 1;
        transform: translate(0, 0);

    }
    33% {
        scale: 0.9;
        transform: translate(20px, 10px);
    }
    100% {

        scale: 1;
        transform: translate(0, 0);
    }
}