.title-slide__button {
    margin: 0;
    padding: 0;
    width: 287.75px;
    height: 80px;
    background-color: var(--system-pink);
    border-radius: 40px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 108.5px;
    bottom: 17px;
    z-index: 10;
}

  